ul.card-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    justify-content: start;
}

.card-box li {
    cursor: pointer;
}

.card-box img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card-box p {
    color: gray;
    font-weight: 500;
}

@media (max-width: 1279px) {
    ul.card-box {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    ul.card-box {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
}