.card-box {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 500px; */
    gap: 10px;
    margin: 0 auto;
    cursor: pointer; 
    list-style: none;
    padding: 0 20px;
    /* justify-content: center; */
}
.card-box:last-child{
    flex-grow: 10;
}

.card-box img {
    width: 100%;
    max-width: 300px;
    max-height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 5px;
}
/* .card-box h3 {
    
} */
.card-box p {
    color: gray;
    font-weight: 500;
}

